@media (max-width: 1000px) {
  .cover {
    grid-template-columns: auto;
  }
}

@media (max-width: 800px) {
  .product_types {
    grid-template-columns: 1fr 1fr;
  }
  .nav--desktop {
    display: none;
  }
  .nav_itm--desktop {
    display: none;
  }
  .products {
    grid-template-columns: 1fr 1fr;
  }
  .col-6 {
    grid-column: 1/3;
  }
  .form_container {
    max-width: 80%;
  }
  .banner--desktop {
    display: none;
  }
  .register_container {
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }
}

@media (min-width: 800px) {
  .menu_bar--mobile {
    display: none;
  }
}

@media (max-width: 530px) {
  .cover {
    background-position-x: -500px;
  }
  .cover--one {
    background-position-x: -10px !important;
  }
  .company_name {
    font-size: 2.25rem;
  }
}

@media (min-width: 600px) {
  .product_types {
    width: 60%;
  }
}
