:root {
  --sec_color: #f05454;
  --font_bright: #f5f5f5;
  --font_dark: #30475e;
  --font_x_dark: #000;
  --primary_btn: #30475e;
  --primary_btn_f_color: #f5f5f5;
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./asset/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("./asset/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins-ExtraLight;
  src: url("./asset/fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: Poppins-Light;
  src: url("./asset/fonts/Poppins-Light.ttf");
}

body {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

.app {
  height: 100vh;
}

.header {
  width: 100%;
  height: 4rem;
  background-color: var(--sec_color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav_itm {
  font-family: Poppins-Light;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--font_x_dark);
  text-decoration: none;
}

.nav_itm:hover {
  color: var(--font_bright);
}

.contact_us::before {
  content: "";
  background-image: url("./asset/img/call_logo.svg");
  background-repeat: no-repeat;
  display: block;
  width: 14.81px;
  height: 14px;
}

.login::before {
  content: "";
  background-image: url("./asset/img/login_logo.svg");
  background-repeat: no-repeat;
  display: block;
  width: 14px;
  height: 14px;
}

.menu_bar {
  width: 28.57px;
  height: 27px;
  background-image: url("./asset/img/menu_bar.svg");
  margin: auto 0;
  background-color: transparent;
  border: none;
}

.menu_bar:hover {
  filter: invert(1);
  cursor: pointer;
}

.main_container {
  margin: 4rem 0 0 0;
  width: 100%;
  padding: 0 0 3rem 0;
}

.cover {
  background-color: var(--sec_color);
  max-width: 100vw;
  height: 23.438rem;
  display: grid;
  grid-template-columns: 500px auto;
  background-image: url("./asset/img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cover--one {
  grid-template-columns: auto;
  height: 153px;
}

.cover_child {
  position: relative;
  display: grid;
  place-items: center;
}

.company_name {
  width: 80%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 2.25rem;
  text-align: center;
  font-family: Poppins-Bold;
  font-size: 4rem;
  color: var(--font_bright);
}

.products_images {
  width: 17.375rem;
  height: 17.125rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -2rem;
}

.products_images img {
  width: 100%;
  transform: translateY(35px);
}

.content {
  padding: 5px 10px;
  font-family: Poppins-ExtraLight;
}

.company_info {
  margin-top: 2rem;
  padding: 1rem;
}

.brand_tagline {
  font-size: 1.5rem;
  font-family: Poppins-Medium;
  color: var(--font_dark);
  text-align: center;
}

.product_types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin: 0 auto;
  gap: 5px;
}

.product_type {
  display: grid;
  place-items: center;
  width: 146px;
  height: 176px;
  border: 2px solid #30475e;
  border-radius: 10px;
  padding: 15px 0;
  box-sizing: border-box;
}

.product_type_img {
  width: 90px;
  height: 90px;
  background-color: rgb(255, 238, 0);
  border-radius: 10px;
  overflow: hidden;
}

.product_type_img img {
  width: 100%;
}

.product_type_title {
  font-family: Poppins-Medium;
  color: var(--font_dark);
  font-size: 1.5rem;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 4rem;
  gap: 10px 2px;
}
.product {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 158px;
  height: 215px;

  border: 1px solid #f05454;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  padding: 10px 5px;
  box-sizing: content-box;
}

.product > * {
  font-family: Poppins-Medium;
  font-size: 16px;
}

.product_image {
  width: 149px;
  height: 97px;
}

.product_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_name {
  color: #30475e;
}

.add_to_cart {
  background: var(--primary_btn);
  color: var(--primary_btn_f_color);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px 0;
  width: 117px;
}

.footer {
  width: 100%;
  height: 2rem;
  background-color: var(--sec_color);
  /* position: fixed; */
  bottom: 0;
  left: 0;
}

.sidebar {
  display: none;
  height: calc(100% - 64px);
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--sec_color);
  margin-top: 64px;
  padding: 20px 30px;
  box-sizing: border-box;
}

.vertical_nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
